.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0px;
  background: linear-gradient(to right, #ffffff, #ffffff);
  height: 50px;
  z-index: 10000;
  color:black;

 }

 .nav-list{
  
  list-style: none;
padding: 0;
  padding-bottom: 10px; /* Remove any default padding */
  margin: 0;
  transform: translate(15px,60px);
  width: 55%; 
  background: linear-gradient( #ffffff, #ca8c3f);
}

.list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertically center-align the items */
  text-align: center;
  color: black; /* Horizontally center-align the text within li elements */
}

.nav-button{
  margin-right: 20px;
  transform: translate(1rem,3.5rem);
  background-color: transparent;
  color: black;
}

@media screen and (min-width: 415px) and (min-height: 415px){
  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 50px;
    background: linear-gradient(to right, #F4A460, #FF8C00);
height: max-content;
gap:10px;
   }

   .list-container {
    position: absolute;
    display: flex;
 fle
    justify-content:space-around;
    left: 50%; /* Set the left position to the center of the parent container */
    transform: translateX(-50%); 
    width: 100vw;
    margin-bottom:100px;
  }

  .nav-list{
    display: flex;

   
    width: 100%; 
  }

  .nav-button{
    display: none;
  }

  }